body, html, p{
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:   #ffeecc;
    font-size: 20px;
}
.nav{
    background-color:    #ffeecc;
    padding-top: 10px;
}
.container1{
    background-color:   #ffeecc;
    text-align: center;
    padding: 40px 60px;
}
.parallax1, .parallax2, .parallax3, .parallax3{
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.parallax1{
    background-image: url("xan-griffin-eA2t5EvcxU4-unsplash_adobespark.jpg");
    min-height:  110%;
    margin-top: 20px;
    padding-bottom: 30px;
}
.parallax2{
    background-image: url("joshua-earle-ICE__bo2Vws-unsplash.jpg");
    min-height: 90%;
  padding-top: 50px;
    
}
.parallax3{
    background-image: url("ian-stauffer-bH7kZ0yazB0-unsplash_adobespark113.jpg");
    min-height: 80%;
    padding-bottom: 200px;
}
@media only screen and (max-device-width: 1366px) {
    .parallax1, .parallax2, .parallax3{
        background-attachment: scroll;
        background-size: cover;
    }
    .parallax1{
        background-image: url("xan-griffin-eA2t5EvcxU4-unsplash.jpg");
    }
    .column{
        column-span: inherit;
    }
  
}
.h1{
    color: gray;
}
/*@media only screen and (max-device-width: 1366px) {
    .nav, .parallax1, .parallax2, .parallax3{
        background-size: cover;
    }
    .parallax1{
        background-image: url("xan-griffin-eA2t5EvcxU4-unsplash.jpg");
    }
}*/
.responsive{
    padding-bottom: 10px;
}
.res{
    padding-top: 20px;
}
.bg-primar{
    background-color: #ffeecc;
}
.col{
	float: left;
	width: 70%;
}
@media only screen and (max-device-width: 1366px){
    body, html, p{
        font-size: 50px;
    }
    img{
        background-size: contain;
    }
}
.logo{
background-image: url("logo4.png");
background-size: cover;
    height: 80px;
    width: 160px;
}
.foot-panel4{
    height:120px;
    background-color:bisque;
    color: black;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}